node_modules/
*.log
built/
build/
.server/
_server/
.idea/
.chrome/
.local
**/secrets/*
**/.secrets/*
**/scriptcs_packages/*
scriptcs_packages/
**/iisnode/*
*.dev.env
*.test.env
*.prod.env
**/daemon/*
**/testdata/*
**/.test-data/*
**/.vscode/*
**/.idea/*
**/.logs/*
*.dll
*.pdb
*.zip
*.tgz
**/lib/*
.yarnrc
**/dist/*
**/tmp/*
**/templates/*.js
**/templates/*.html
*.local
*.lock